* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

/* Seção Topo */
.topo {
    padding: 35px 0;
    width: 100%;
    height: 25vh;
    background-color: #fff;
    position: relative;
    padding: 0;
}

.topo img {
    width: 78px;
    height: 78px;
    position: absolute;
    left: 10%;
    top: 25%;
}

.topo p {
    font-size: 16px;
    color: #2f86d6;
    font-weight: bold;
    position: absolute;
    left: 17%;
    top: 55%;
}

.topo h1 {
    font-size: 32px;
    color: #000000;
    position: absolute;
    left: 17%;
    top: 25%;
}

.topo a {
    font-size: 18px;
    color: #233032;
    text-decoration: none;
    font-weight: bold;
    padding: 0 10px;
}

.topo span {
    position: absolute;
    top: 43%;
    right: 13%;
}

/* Seção Banner */
.banner {
    background-color: #2f86d6;
    padding: 180px 0;
    height: 85vh;
    position: relative;
}

.banner img {
    width: 510px;
    position: absolute;
    right: 10%;
    bottom: 15%;
}

.banner-part2 {
    width: 1024px;
    margin: 0 auto;
}

.banner-part3 {
    width: 470px;
    color: #fff;
    position: absolute;
    bottom: 20%;
    left: 15%;
}

.banner-part3 h2 {
    font-size: 30px;
    line-height: 50px;
    padding: 15px 0;
}

.banner-part3 p, .banner-part3 h2 {
    text-align: left;
}

.banner-part3 p {
    line-height: 40px;
    font-size: 18px;
}


/* Seção Primeiro e Segundo Anúncio */
.anuncio {
    padding: 40px 0;
    margin: 0 auto;
    color: #fff;
    height: 20vh;
    position: relative;
}

.anuncio-part2 {
    width: 1024px;
}

.anuncio a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.link-anuncio1 {
    background-color: #2f86d6;
}

.link-anuncio2 {
    background-color: #233032;
}

.link-anuncio1, .link-anuncio2 {
    width: 210px;
    padding: 15px 0;
    position: relative;
    left: 90%;
    border-radius: 5px;
}

.link-anuncio1 p, .link-anuncio2 p {
    width: 220px;
}

.link-anuncio1 img, .link-anuncio2 img {
    position: absolute;
    left: 5%;
    top: 38%;
}

.anuncio-part3 h2 {
    font-size: 22px;
    text-align: left;
    width: 600px;
    position: absolute;
    left: 15%;
}

.anuncio-part3 p {
    font-size: 14px;
    text-align: left;
    width: 420px;
    position: absolute;
    left: 15%;
    top: 50%;
    padding-top: 10px;
}

.primeiro-anuncio {
    background-color: #233032;
}

.segundo-anuncio {
    background-color: #2f86d6;
}

/* Seção Informações */
.informacoes {
    height: 75vh;
    margin: 0 auto;
    padding: 100px 0;
    position: relative;
}

.informacoes h2 {
    width: 700px;
    text-align: center;
    margin: 0 auto;
}

.informacoes span {
    color: #2f86d6;
}

.informacoes img {
    width: 100px;
}

.informacoes-part2 {
    width: 1024px;
    margin: 0 auto;
    padding-top: 50px;
    position: absolute;
    left: 13%;
}

.informacoes-part2 h3 {
    padding: 10px 0;
    font-size: 16px;
}

.informacoes-part2 td {
    width: 500px;
    line-height: 25px;
}

/* Seção Planos*/
.planos {
    background-color: #f6f6f6;
    height: 110vh;
    padding: 100px 0;
}

.planos img {
    width: 90px;
}

.planos span {
    color: #2f86d6;
}

.planos h2 {
    padding-bottom: 60px;
    width: 1024px;
    margin: 0 auto;
}

.planos-tabelas {
    background-color: #fff;
    margin: 0 auto;
    line-height: 45px;
    box-shadow: 0px 0px 30px 10px #2f86d6;
    width: 824px;
    border-collapse: collapse;
}

.planos-tabelas h3 {
    font-size: 18px;
}

.planos-tabelas h4 {
    font-size: 12px;
    color: #a89f9f;
    font-weight: normal;
    width: 120px;
    line-height: 18px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.planos-tabelas td {
    font-size: 13px;
    font-weight: 500;
    border-left: 1px solid #f1f3f7;
}

.planos-tabelas th {
    border-left: 1px solid #f1f3f7;
}

.fundo-cinza {
    background-color: #f1f3f7;
}

/* Seção Rodapé*/
.rodape {
    position: relative;
    height: 55vh;
    padding: 100px 0;
}


.rodape img {
    width: 78px;
    height: 78px;
    position: absolute;
    top: 15%;
    left: 35%;
}

.rodape-logo p {
    font-size: 16px;
    color: #2f86d6;
    font-weight: bold;
}

.rodape-logo h1 {
    font-size: 32px;
    color: #000000;
    position: absolute;
    top: 15%;
    right: 47%;
}

.rodape-paragrafo {
    line-height: 35px;
    font-weight: 600;
    padding-top: 50px;
}

.rodape-part2 {
    background-color: #f1f3f7; 
    height: 8vh;
    font-weight: bold;
}

.rodape-part2 span {
    color: #2f86d6;
}

.rodape-part2 p {
    padding: 15px 0;
}